@using MvcSample.Web.Models
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Microsoft <span id="hearts">&hearts;</span> OSS</h1>
        </hgroup>
    </div>
</section>
<section class="content-wrapper main-content clear-fix">
    <div class="wmm">
        <img src="/Content/wmm1.png" alt="WebMatrix Man" title="WebMatrix Man" />
    </div>
</section>
